:root {
    --primary-color: #6a1b9a;
    --highlight-color: green;
    --font-color: white;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    
}

.container {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}

.white-section, .purple-section {
    padding: 20px;
    flex: 1;
}

.white-section {
    background-color: white;
}

.purple-section {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.stats1, .stats2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.stats div {
    flex: 1;
    min-width: 150px;
}

.social-links {
    margin-top: 150px;
}

.links {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px;
    text-align: center;
}

.links a {
    color: var(--font-color);
    text-decoration: none;
    margin: 0 10px;
}

.highlight {
    color: var(--highlight-color);
}

.titulo-grande {
    font-size: 3em;
}

.grande2 {
    font-size: 2em;
    color: var(--primary-color);
}

.Boas-vindas {
    font-size: 4em;
}

.Comece-por-aqui {
    font-size: 2em;
}

#img_1 {
    height: 200px;
    border-radius: 50%;
}

.espaço {
    margin-top: 100px;
}

.linha {
    margin-top: 100px;
}

.letra1 {
    color: var(--primary-color);
}

.lado {
    margin-left: 200px;
    margin-top: -210px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .stats1, .stats2 {
        flex-direction: column;
    }

    .lado {
        margin-left: 0;
        margin-top: 20px;
    }

    .social-links {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 1rem;
    }

    .titulo-grande {
        font-size: 2em;
    }

    .Boas-vindas {
        font-size: 3em;
    }

    .grande2, .Comece-por-aqui {
        font-size: 1.5em;
    }

    #img_1 {
        height: 150px;
    }
}
